* {
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    font-size: 16px !important;
}
a {
    text-decoration: none !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
}
ul li{
    list-style: none !important;
}
button{
    outline: none;
}
input{
    outline: none;
}
body::-webkit-scrollbar {/*滚动条整体样式*/
    width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
body::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    background-color: #409eff ;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}
body::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    /*border-radius: 10px;*/
    background: #EDEDED;
}
/*文字超出省略*/
.sl{
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
.d-f {
    display: flex;
}
.a-l {
    align-items: center;
}
.m-l-10 {
    margin-left: 10px;
}
.m-l-20 {
    margin-left: 20px;
}
.m-l-5 {
    margin-left: 5px;
}
.m-r-5 {
    margin-right: 5px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-t-20 {
    margin-top: 20px ;
}
.m-t-10 {
    margin-top: 10px ;
}
.m-b-15 {
    margin-bottom: 15px;
}
.j-c {
    justify-content: center;
}
.j-c-sb{
    justify-content: space-between;
}
.j-c-sa{
    justify-content: space-around;
}
.w-100 {
    width: 100%;
    background: #333;
}
.w-1 {
    width: 100%;
}
.w-50 {
    width: 50%;
    height: 80px;

}
.min-h-500px {
    min-height: 500px;
}
.m-t-50 {
    margin-top: 50px;
}
.f-s-12 {
    font-size: 12px;
}
.loginbox {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enterloginbox {
    width: 400px;
   
    border: 1px solid #ccc;
}
.icons {
   font-size: 24px !important;
}
.cover_c .ant-input{
    height: 46px;
}
p img {
    max-width: 700px;
  }
 
  .ant-tooltip-inner {
    width: 400px;
  }
  .ant-calendar-picker {
      width: 348px !important; 
  }
  .ant-calendar-picker-input {
    border: none !important;
  }
  .ant-calendar-picker-container {
      left: 35% !important;
      top: 190px !important;
  }
  .ant-input {
      border: none !important;
  }
  .chosefont ant-input-group{
      width: 80% !important;
  }
  
  .ant-select-selection {
    border: none !important;
  }
  .hotelsearchbox input {
      border: none !important;
  }
  .ant-dropdown {
      height: 200px;
      overflow: auto;
  }